.odd{
    background-color: #df9d9d;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.odd--cool{
    background-color: #df9d9d;
    font-family: Verdana, "DejaVu Sans", sans-serif;
    font-size: 24px;
}

#even{
    color: #0000FF;
    font-size: 36px;
}

#even--cool{
    background-color: #85f085;
    font-size: 24px;
    font-weight: 700;
}