.button{

    font-size: 28px;
    font-family: Helvetica, "Times new Roman", sans-serif;
}

.button.first{
    background-color: #000;
    color: #FFFFFF;
}

.button.second{
    background-color: #ffff00;
    color: #000;
}